In [1]:
import pandas as pd
import numpy as np

In [2]:
#read the csv document and view the first 10 rows of the dataframe

date_cols = ['Admission Date',  'Discharge Date', 'Enrolment Date']
df = pd.read_csv(r'Claims Data _RSBY Gujarat cluster 2 Date Formatted.csv', parse_dates=date_cols, infer_datetime_format=True)
df.head(10)

,URN,Unique Claim no.,HOF Name,Patient Age,Patient Card Gender,Member ID,Beneficiary District Name,Hospital Name,Hospital Location/district,Admission Date,Discharge Date,Package Name,Claimed Amount,Approved Amount,Status,Enrolment Type,Enrolment Date
0,2.410000e+16,GBIC-1,MRS.DAYABHAI,12,1,2.0,Surendranagar,Pt Deendayal Upadhyay Hos,Rajkot,2016-05-24,2016-05-30,General Ward :Unspecified,4500,4500,Paid,Renewal,2016-01-04
1,2.410000e+16,GBIC-2,SARBAIBEN,80,2,1.0,Surendranagar,Pt Deendayal Upadhyay Hos,Rajkot,2016-05-24,2016-05-25,General Ward :Unspecified,750,750,Paid,Renewal,2016-01-04
2,2.420000e+16,GBIC-3,BHAVINBHAI,32,1,1.0,Anand,Urja Orthopedic Hospital,Vadodara,2016-05-27,2016-06-01,General Ward :Unspecified,3750,3750,Paid,Renewal,2016-01-04
3,2.420000e+16,GBIC-4,THAKOR PRATAPBHAI HEMTABHAI,70,1,1.0,Kheda,Sagar Surgical Hospital,Kheda,2016-05-27,2016-06-02,General Ward :Unspecified,4500,0,Denied,Renewal,2016-01-04
4,2.420000e+16,GBIC-6,THAKOR PRATAPBHAI HEMTABHAI,18,2,1.0,Kheda,Sagar Surgical Hospital,Kheda,2016-05-27,2016-06-02,General Ward :Unspecified,4500,0,Denied,Renewal,2016-01-04
5,2.420000e+16,GBIC-7,MADHABHAI,70,2,1.0,Anand,Advanced Eye Care Clinic,Vadodara,2016-06-03,2016-06-03,Cataract with foldable IOL by Phoco emulsifica...,6000,6000,Paid,Renewal,2016-01-04
6,2.420000e+16,GBIC-8,MADUKHAN,30,2,1.0,Kheda,Dhiraj Hospital,Vadodara,2016-05-20,2016-06-03,Spine - Intradural Tumour,15400,15400,Paid,Renewal,2016-01-04
7,2.410000e+16,GBIC-9,NATHABHAI,52,2,1.0,Surendranagar,shradhdha surgical hospit,Rajkot,2016-05-30,2016-06-04,Salphingo-oophorectomy,7875,6500,Paid,Renewal,2016-01-04
8,2.410000e+16,GBIC-10,NATHABHAI,52,2,1.0,Surendranagar,shradhdha surgical hospit,Rajkot,2016-05-30,2016-06-04,Cystocele - Anterior repair,5750,0,Denied,Renewal,2016-01-04
9,2.410000e+16,GBIC-11,NATHABHAI,52,2,1.0,Surendranagar,shradhdha surgical hospit,Rajkot,2016-05-30,2016-06-04,Hysterectomy - abdominal*,11500,11500,Paid,Renewal,2016-01-04

In [3]:
#function to convert all string cells to uppercase
headers = list(df)
str_header = []
for header in headers:
   if df[header].dtype == object:
    str_header.append(header) 
    df[header] = df[header].str.upper()
    df[header] = df[header].str.strip()

In [5]:
#dropping NA
df = df.dropna(axis=0)

In [7]:
str_header.remove('Unique Claim no.')

In [8]:
str_header

['HOF Name',
 'Beneficiary District Name',
 'Hospital Name',
 'Hospital Location/district',
 'Package Name',
 'Status',
 'Enrolment Type']

In [9]:
coded_df = pd.get_dummies(df, columns=str_header)
coded_df.head()

,URN,Unique Claim no.,Patient Age,Patient Card Gender,Member ID,Admission Date,Discharge Date,Claimed Amount,Approved Amount,Enrolment Date,...,Package Name_VIU AND MEATOPLASTY,Package Name_VIU FOR STRICTURE URETHRA,Package Name_VIU WITH CYSTOSCOPY,Package Name_VOLVLOUS OF LARGE BOWEL,Package Name_VULVECTOMY,Package Name_WHOLE BLOOD PER UNIT,Status_DENIED,Status_PAID,Enrolment Type_FRESH,Enrolment Type_RENEWAL
0,2.410000e+16,GBIC-1,12,1,2.0,2016-05-24,2016-05-30,4500,4500,2016-01-04,...,0,0,0,0,0,0,0,1,0,1
1,2.410000e+16,GBIC-2,80,2,1.0,2016-05-24,2016-05-25,750,750,2016-01-04,...,0,0,0,0,0,0,0,1,0,1
2,2.420000e+16,GBIC-3,32,1,1.0,2016-05-27,2016-06-01,3750,3750,2016-01-04,...,0,0,0,0,0,0,0,1,0,1
3,2.420000e+16,GBIC-4,70,1,1.0,2016-05-27,2016-06-02,4500,0,2016-01-04,...,0,0,0,0,0,0,1,0,0,1
4,2.420000e+16,GBIC-6,18,2,1.0,2016-05-27,2016-06-02,4500,0,2016-01-04,...,0,0,0,0,0,0,1,0,0,1

In [16]:
#creating a sample dataset for extraction to csv

sample = coded_df.iloc[:2000, :]
sample.shape[0]

2000

In [17]:
sample.to_csv('Claims Data _RSBY Gujarat cluster 2 coded string.csv')